In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

# Load Data

In [2]:
train=pd.read_csv('/kaggle/input/spaceship-titanic/train.csv')
test=pd.read_csv('/kaggle/input/spaceship-titanic/test.csv')

In [3]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [4]:
test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

# Data Processing

In [5]:
import pandas as pd
import numpy as np

In [6]:
#join data to simplify and universalize processing 
train_y=train['Transported']
train_X=train.drop('Transported',axis=1)
joint=pd.concat([train_X,test],axis=0)

In [7]:
joint.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12970 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   12970 non-null  object
 1   HomePlanet    12682 non-null  object
 2   CryoSleep     12660 non-null  object
 3   Cabin         12671 non-null  object
 4   Destination   12696 non-null  object
 5   Age           12700 non-null  float64
 6   VIP           12674 non-null  object
 7   RoomService   12707 non-null  float64
 8   FoodCourt     12681 non-null  float64
 9   ShoppingMall  12664 non-null  float64
 10  Spa           12686 non-null  float64
 11  VRDeck        12702 non-null  float64
 12  Name          12676 non-null  object
dtypes: float64(6), object(7)
memory usage: 1.4+ MB

## Quantative data

In [8]:
quantative=['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa','VRDeck']
joint[quantative].isna().sum()

Age             270
RoomService     263
FoodCourt       289
ShoppingMall    306
Spa             284
VRDeck          268
dtype: int64

In [9]:
# fill missing data with mean value
for i in quantative:
    joint[i].fillna(joint[i].mean(),inplace=True)
    joint[i]=joint[i].astype('int64')

### Groupping age

In [10]:
joint['Age'].describe()

count    12970.000000
mean        28.755898
std         14.237137
min          0.000000
25%         20.000000
50%         27.000000
75%         37.000000
max         79.000000
Name: Age, dtype: float64

In [11]:
def age_group(x):
    if x>=0 and x<10: return 1
    if x>=10 and x<20: return 2
    if x>=20 and x<30: return 3
    if x>=30 and x<40: return 4
    if x>=40 and x<50: return 5
    if x>=50 and x<60: return 6
    if x>=60 and x<70: return 7
    if x>=70: return 8

joint['AgeGroup']=joint['Age'].apply(age_group)
joint['AgeGroup'].value_counts()

3    4460
4    2538
2    2235
5    1570
1     980
6     809
7     312
8      66
Name: AgeGroup, dtype: int64

## Category data

In [12]:
category=['HomePlanet', 'CryoSleep', 'Destination', 'VIP']
# Cabin and Name will be processed separatelly as far as they contain composed info

In [13]:
# fill missing data with mode value
for i in category:
    joint[i].fillna(joint[i].mode()[0],inplace=True)
    joint[i]=pd.factorize(joint[i])[0]

### Decompose Cabin data

In [14]:
# Cabibn as a raw data indicates uniq place - almost as Passenger ID.
# But each element of Cabin data has it's meaning.

In [15]:
def def_cabin(i):
    if i is np.nan: result=[np.nan]*3 
    else: result=i.split('/')
    return pd.Series(result,index=['Deck','Num','Side'])

joint[['Deck','Num','Side']]=joint['Cabin'].apply(def_cabin)

for i in ['Deck','Num','Side']:
    joint[i].fillna(joint[i].mode()[0],inplace=True)
    joint[i]=pd.factorize(joint[i])[0]

In [16]:
joint[['Deck','Num','Side']]

      Deck   Num  Side
0        0     0     0
1        1     0     1
2        2     0     1
3        2     0     1
4        1     1     1
...    ...   ...   ...
4272     3  1529     1
4273     1     4     1
4274     5   361     0
4275     5   287     0
4276     3  1811     1

[12970 rows x 3 columns]

### Decompose Name

In [17]:
# Name as a raw data indicates uniq person - almost as Passenger ID.
# But we can use assumption that last name can indicate family membership.
# First name can also have meaning.

In [18]:
def def_name(i):
    if i is np.nan: result=[np.nan]*2
    else: result=i.split(' ')
    return pd.Series(result,index=['FirstName','LastName'])

joint[['FirstName','LastName']]=joint['Name'].apply(def_name)

for i in ['FirstName','LastName']:
    joint[i].fillna(joint[i].mode()[0],inplace=True)
    joint[i]=pd.factorize(joint[i])[0]

# Drop reduntant data

In [19]:
joint.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,AgeGroup,Deck,Num,Side,FirstName,LastName
0,0001_01,0,0,B/0/P,0,39,0,0,0,0,0,0,Maham Ofracculy,4,0,0,0,0,0
1,0002_01,1,0,F/0/S,0,24,0,109,9,25,549,44,Juanna Vines,3,1,0,1,1,1
2,0003_01,0,0,A/0/S,0,58,1,43,3576,0,6715,49,Altark Susent,6,2,0,1,2,2
3,0003_02,0,0,A/0/S,0,33,0,0,1283,371,3329,193,Solam Susent,4,2,0,1,3,2
4,0004_01,1,0,F/1/S,0,16,0,303,70,151,565,2,Willy Santantines,2,1,1,1,4,3

In [20]:
joint.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12970 entries, 0 to 4276
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   12970 non-null  object
 1   HomePlanet    12970 non-null  int64
 2   CryoSleep     12970 non-null  int64
 3   Cabin         12671 non-null  object
 4   Destination   12970 non-null  int64
 5   Age           12970 non-null  int64
 6   VIP           12970 non-null  int64
 7   RoomService   12970 non-null  int64
 8   FoodCourt     12970 non-null  int64
 9   ShoppingMall  12970 non-null  int64
 10  Spa           12970 non-null  int64
 11  VRDeck        12970 non-null  int64
 12  Name          12676 non-null  object
 13  AgeGroup      12970 non-null  int64
 14  Deck          12970 non-null  int64
 15  Num           12970 non-null  int64
 16  Side          12970 non-null  int64
 17  FirstName     12970 non-null  int64
 18  LastName      12970 non-null  int64
dtypes: int64(16), object(3)
memory usage: 2.0+ MB

In [21]:
joint.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin           299
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            294
AgeGroup          0
Deck              0
Num               0
Side              0
FirstName         0
LastName          0
dtype: int64

In [22]:
joint_X=joint.drop(['PassengerId','Cabin', 'Name'],axis=1)
train_X=joint_X[:8693]
test_X=joint_X[8693:]

# Models application

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

## Decision Tree cross validation

In [24]:
tree = DecisionTreeClassifier()
tree_params = {'max_depth': range(1,7), 'max_features': range(5,10)}
tree_grid = GridSearchCV(tree, tree_params, cv=5, n_jobs=-1, verbose=True)
tree_grid.fit(train_X, train_y)
tree_grid.best_params_, tree_grid.best_score_

Fitting 5 folds for each of 30 candidates, totalling 150 fits

({'max_depth': 6, 'max_features': 9}, 0.7726931936466006)

## kNN cross validation

In [25]:
knn = KNeighborsClassifier()
knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])
knn_params = {'knn__n_neighbors': range(1, 40)}
knn_grid = GridSearchCV(knn_pipe, knn_params, cv=5, n_jobs=-1,verbose=True)
knn_grid.fit(train_X, train_y)
knn_grid.best_params_, knn_grid.best_score_

Fitting 5 folds for each of 39 candidates, totalling 195 fits

({'knn__n_neighbors': 25}, 0.7726912084574351)

## Random Forest cross validation

In [26]:
forest = RandomForestClassifier()
forest_params = {'max_depth': range(1,10), 'max_features': range(1,10)}
forest_grid = GridSearchCV(forest, forest_params, cv=5, n_jobs=-1, verbose=False)
forest_grid.fit(train_X, train_y)
forest_grid.best_params_, forest_grid.best_score_

({'max_depth': 9, 'max_features': 4}, 0.7971963173417523)

# Submission

In [27]:
# Random Forest with {'max_depth': 9, 'max_features': 4} has the best accuracy so far
forest = RandomForestClassifier(max_depth=9,max_features=4)
forest.fit(train_X, train_y)
test_pred=forest.predict(test_X)

In [28]:
sub = pd.read_csv('/kaggle/input/spaceship-titanic/sample_submission.csv')
sub['Transported']=test_pred
sub.to_csv('submission.csv',index=False)